.project-card {
    border-color: #202020;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;

    transition: all 150ms;
}

.project-card:hover {
    border-color: rgb(255, 49, 49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.filter-section {
    position: sticky;
    top: 110px;

    border-color: #202020;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
}

.search-bar:focus {
    outline: none !important;
    box-shadow: none !important;

    border-color: rgb(255, 49, 49);
    border-width: 3px;
}

@media(min-width: 768px) {
    .filter-section {
        top: 120px;
    }
}

@media(min-width: 992px) {
    .filter-section {
        top: 130px;
    }
}

@media(min-width: 1200px) {
    .filter-section {
        top: 140px;
    }
}
