.fg {
    color: rgb(255, 49, 49);
}

.fg-dark {
    color: #202020;
}

.bg {
    background: #202020;
}

.bg-reverse {
    background: rgb(255, 49, 49);
}

.btn.button {
    background: transparent;
    color: #202020;

    border-color: #202020;
    border-width: 3px;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn.button:hover {
    background-color: #202020;
    color: rgb(255, 49, 49);
}

.btn.button:focus {
    background: transparent;
    color: #202020;

    border-color: #202020;

    outline: none !important;
    box-shadow: none !important;
}

.btn.button:active,
.btn.button.show {
    background-color: #202020;
    color: rgb(255, 49, 49);
    border-color: #202020;
    outline: none !important;
    box-shadow: none !important;
}

.btn.button-reverse {
    background-color: transparent;
    color: #FFFFFF;

    border-color: #FFFFFF;
    border-width: 3px;

    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn.button-reverse:hover {
    background-color: #FFFFFF;
    color: rgb(255, 49, 49);
}

.btn.button-reverse:focus {
    background-color: transparent;
    color: #FFFFFF;

    border-color: #FFFFFF;

    outline: none !important;
    box-shadow: none !important;
}

.btn.button-reverse:active,
.btn.button-reverse.show {
    background-color: #FFFFFF;
    color: rgb(255, 49, 49);
    border-color: #FFFFFF;
    outline: none !important;
    box-shadow: none !important;
}

.link {
    color: #FFFFFF;
    transition: transform 150ms;
}

.link:hover {
    color: rgb(255, 49, 49);
    background: #505050;

    font-weight: bold;

    cursor: pointer;
}

.dropdown-item:active,
.dropdown-item.active {
    background: transparent;
    color: rgb(255, 49, 49);

    font-weight: bold;
}

.dropdown-item:hover {
    font-weight: bold;
    color: rgb(255, 49, 49);
}

.borders-primary {
    border-color: #202020;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
}

.border-bottom-primary {
    border-bottom: 3px solid #202020;
}

.borders-secondary {
    border-color: rgb(255, 49, 49);
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;
}

.search-bar:focus {
    outline: none !important;
    box-shadow: none !important;

    border-color: rgb(255, 49, 49);
    border-width: 3px;
}

.kit-toast {
    border-color: #202020;
    border-width: 3px;

    border-radius: 20px;

    background: #FFFFFF;

    overflow: hidden;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.kit-toast-err {
    border-color: rgb(255, 49, 49);
    border-width: 3px;

    border-radius: 20px;

    background: #FFFFFF;

    overflow: hidden;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.kit-card {
    border-color: #202020;
    border-width: 3px;
    border-radius: 20px;
    border-style: solid;

    transition: all 150ms;
}

.kit-card:hover {
    border-color: rgb(255, 49, 49);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}